@import url("./reset.css");
header {
  color: #fff;
}
header .logo {
  position: fixed;
  top: 45px;
  left: 45px;
  z-index: 10;
}
header .meun {
  position: fixed;
  top: 45px;
  right: 45px;
  display: flex;
  z-index: 10;
}
header .meun li {
  width: 50px;
}
header.hide {
  display: none;
}

footer .contact {
  background-color: #cabbab;
  color: #283f38;
  position: relative;
  padding: 8%;
}
footer .contact h2 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .contact .info {
  font-size: 25px;
  line-height: 1.7;
}
footer .up_btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 40px;
  bottom: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s 0.4s;
}
footer .up_btn img {
  width: 35px;
  margin-bottom: 10px;
}
footer .up_btn.on {
  opacity: 1;
  visibility: visible;
}