@import url("./fonts.css");
.txt_hide {
  overflow: hidden;
}

.about {
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: #283f38;
  color: #fff;
  position: relative;
  font-family: "Bebas Neue", "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 35%;
}
.about .left {
  position: absolute;
  width: 500px;
  height: auto;
  background-color: #cabbab;
  padding: 10px;
  left: 10%;
  bottom: 15%;
}
.about .left h2 {
  font-size: 100px;
}
.about .left ul {
  padding: 10px;
  line-height: 150px;
}
.about .left ul li {
  display: flex;
  font-size: 20px;
  line-height: 40px;
}
.about .left ul li em {
  margin-right: 10px;
  width: 200px;
}
.about .right {
  position: absolute;
  width: 500px;
  right: 10%;
  bottom: 15%;
}
.about .right .img_container {
  padding-bottom: 100%;
  position: relative;
}
.about .right .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .right .click {
  z-index: 1;
  width: 600px;
  height: 600px;
}
.about .right .click.active {
  position: absolute;
  z-index: 10;
  bottom: 0%;
  right: -8%;
  transform: rotate(20deg) scale(1);
  transition: transform 0.2s;
  width: 120px;
  height: 120px;
  background: #cabbab;
  box-shadow: 0 10px 20px -6px #cabbab;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}
.about .right .click.active:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: scale(1.2);
  transition: transform 0.4s;
}
.about .right .click.active:hover:before {
  transform: scale(1);
}
.about .right .click.active:active {
  transform: scale(0.9) rotate(0deg);
}
@media (max-width: 1024px) {
  .about .left {
    width: 400px;
    left: 5%;
  }
  .about .left h2 {
    font-size: 80px;
  }
  .about .left ul li {
    font-size: 15px;
  }
  .about .left ul li em {
    width: 200px;
    margin-right: 5px;
  }
  .about .right {
    width: 400px;
    right: 5%;
  }
  .about .right .click {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .about {
    height: 1300px;
  }
  .about .left {
    width: 400px;
    left: 0;
    bottom: 10%;
  }
  .about .left h2 {
    font-size: 80px;
  }
  .about .left ul li {
    font-size: 20px;
  }
  .about .left ul li em {
    width: 200px;
    margin-right: 5px;
  }
  .about .right {
    width: 400px;
    right: 0;
    bottom: 40%;
  }
  .about .right .click {
    width: 200px;
    height: 200px;
  }
}

.work {
  height: 1500px;
  width: 100%;
  background-color: #f3ddb6;
  position: relative;
  padding: 200px 0;
}
.work .card {
  background-color: #ffffff;
  color: #914343;
  width: 350px;
  height: 350px;
  position: absolute;
  cursor: pointer;
}
.work .card img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.work .card a {
  position: absolute;
  z-index: 2;
  opacity: 0;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  background: #ffffff;
}
.work .card a.more {
  bottom: 30px;
  right: 35%;
}
.work .card a.site {
  bottom: 30px;
  right: 5%;
}
.work .card p {
  position: absolute;
  z-index: 10;
  font-family: "Bebas Neue", "Noto Sans KR", sans-serif;
  color: #fff;
}
.work .card:hover img {
  opacity: 0.9;
}
.work .card:hover a {
  opacity: 0.9;
}
.work .card:hover p {
  opacity: 0;
}
.work .card.first {
  top: 8%;
  right: 17%;
}
.work .card.first p {
  bottom: -50px;
  left: 10px;
  font-size: 61px;
}
.work .card.second {
  top: 25%;
  left: 8%;
}
.work .card.second a {
  color: #005955;
}
.work .card.second p {
  bottom: -20px;
  right: 50%;
  font-size: 61px;
}
.work .card.third {
  top: 55%;
  right: 8%;
}
.work .card.third a {
  color: #E3919A;
}
.work .card.third p {
  bottom: -30px;
  right: -10px;
  font-size: 61px;
}
.work .card.fourth {
  top: 75%;
  left: 20%;
}
.work .card.fourth a {
  color: #000;
}
.work .card.fourth p {
  top: -10px;
  right: -5px;
  font-size: 61px;
}
@media (max-width: 1024px) {
  .work .card {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 767px) {
  .work .card {
    width: 300px;
    height: 300px;
  }
}