.txt_hide {
  overflow: hidden;
}

.about {
  top: 0;
  left: 0;
  width: 100%;
  height: 726px;
  background-color: #283f38;
  color: #fff;
  position: relative;
}
.about .left {
  left: 10%;
  top: 60%;
  width: 500px;
  height: auto;
  position: absolute;
  transform: translateY(-50%);
  background-color: #cabbab;
}
.about .left ul {
  font-size: 80px;
  padding: 10px;
  font-weight: bold;
  line-height: 150px;
}
.about .left ul li {
  display: flex;
  font-size: 20px;
  line-height: 40px;
}
.about .left ul li em {
  margin-right: 10px;
  width: 200px;
}
.about .right {
  right: 10%;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: #cabbab;
}
.about .right .img_container {
  padding-bottom: 100%;
  position: relative;
}
.about .right .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .right .click {
  z-index: 1;
  width: 600px;
  height: 600px;
}
.about .right .click.active {
  position: absolute;
  z-index: 10;
  top: 130%;
  right: -8%;
  transform: rotate(20deg) scale(1);
  transition: transform 0.2s;
  width: 120px;
  height: 120px;
  background: #cabbab;
  box-shadow: 0 10px 20px -6px #cabbab;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}
.about .right .click.active:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: scale(1.2);
  transition: transform 0.4s;
}
.about .right .click.active:hover:before {
  transform: scale(1);
}
.about .right .click.active:active {
  transform: scale(0.9) rotate(0deg);
}

.work {
  height: 1000px;
  width: 100%;
  background-color: #f3ddb6;
}

@-webkit-keyframes box {
  0%, 100% {
    border-radius: 0% 33% 66% 100%;
  }
  16.66667% {
    border-radius: 33% 66% 100% 66%;
  }
  33.33333% {
    border-radius: 66% 100% 66% 33%;
  }
  50% {
    border-radius: 100% 66% 33% 0%;
  }
  66.66667% {
    border-radius: 66% 33% 0% 33%;
  }
  83.33333% {
    border-radius: 33% 0% 33% 66%;
  }
}

@keyframes box {
  0%, 100% {
    border-radius: 0% 33% 66% 100%;
  }
  16.66667% {
    border-radius: 33% 66% 100% 66%;
  }
  33.33333% {
    border-radius: 66% 100% 66% 33%;
  }
  50% {
    border-radius: 100% 66% 33% 0%;
  }
  66.66667% {
    border-radius: 66% 33% 0% 33%;
  }
  83.33333% {
    border-radius: 33% 0% 33% 66%;
  }
}
body {
  background: #666;
}

img {
  width: 300px;
  z-index: 2;
  top: 50%;
}