@import './variables';

@import url('./reset.css');
@import url('./fonts.css');

.loading{
    background: $bg_yellow;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 1;
    z-index: 100;
    text-align: center;
    background: $bg_yellow;
    color: $txt;

    .txt_wrap{
    .count{
        z-index: 6;
        height: 80vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-family: $font-en;
    }
    .txt{
        z-index: 6;
        height: 110vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: $font-en;
    }
}
}
    header {
        color: #fff;
    
        .logo {
            position: fixed;
            top: 45px;
            left: 45px;
            z-index: 10;
        }
    
        .meun {
            position: fixed;
            top: 45px;
            right: 45px;
            display: flex;
            z-index: 10;
    
            li {
                width: 50px;
            }
        }
    
        &.hide {
            display: none;
        }
    }
    
    footer {
        .contact {
            background-color: $bg_gray;
            color: $bg_green;
            position: relative;
            padding: 8%;
    
            h2{
                font-size: 100px;
                margin-bottom: 20px;
                font-family: $font-en1;
            }
            .info {
                font-size: 25px;
                line-height: 1.7;
            }
        }
    
        .up_btn {
            display: flex;
            flex-direction: column;
            position: fixed;
            right: 40px;
            bottom: 40px;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 10;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: opacity .4s, visibility 0s .4s;
    
            img {
                width: 35px;
                margin-bottom: 10px;
            }
    
            &.on {
                opacity: 1;
                visibility: visible;
            }
        }
    }
