@import './variables';
@import './mixin';

@import url('./fonts.css');

.txt_hide {
  overflow: hidden;
}

.about {
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: $bg_green;
  color: #fff;
  position: relative;
  font-family: $font-en1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 35%;

  .left {
    position: absolute;
    width: 500px;
    height: auto;
    background-color: $bg_gray;
    padding: 10px;
    left: 10%;
    bottom: 15%;

    h2{
      font-size: 100px;
    }

    ul {
      padding: 10px;
      line-height: 150px;

      li {
        display: flex;
        font-size: 20px;
        line-height: 40px;

        em {
          margin-right: 10px;
          width: 200px;
        }

        p {}
      }
    }
  }

  .right {
    position: absolute;
    width: 500px;
    right: 10%;
    bottom: 15%;

    .img_container {
      padding-bottom: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .click {
      z-index: 1;
      width: 600px;
      height: 600px;

      &.active {
        position: absolute;
        z-index: 10;
        bottom: 0%;
        right: -8%;
        transform: rotate(20deg) scale(1);
        transition: transform .2s;
        width: 120px;
        height: 120px;
        background: $bg_gray;
        box-shadow: 0 10px 20px -6px $bg_gray;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: inset 0 0 0 10px #ffffff33;
          border-radius: 50%;
          transform: scale(1.2);
          transition: transform .4s;
        }

        &:hover {
          &:before {
            transform: scale(1);
          }
        }

        &:active {
          transform: scale(0.9) rotate(0deg);
        }
      }
    }
  }

  @include tablet{
    .left{
      width: 400px;
      left: 5%;
      h2{
        font-size: 80px;
      }
      ul{
        li{
          font-size: 15px;
          em{
            width: 200px;
            margin-right: 5px;
          }
        }
      }
     
    }
    .right{
      width: 400px;
      right: 5%;

      .click 
      {
        width: 200px;
        height: 200px;
      }
    }
  }

  @include mobile{
    height: 1300px;

   .left{
     width: 400px;
     left: 0;
     bottom: 10%;

     h2{
       font-size: 80px;
     }
     ul{
      li{
        font-size: 20px;
        em{
          width: 200px;
          margin-right: 5px;
        }
      }
     }
   }
   .right{
     width: 400px;
     right: 0;
     bottom: 40%;

     .click 
     {
       width: 200px;
       height: 200px;
     }

   }
}

}

.work {
  height: 1500px;
  width: 100%;
  background-color: $bg_yellow;
  position: relative;
  padding: 200px 0;


  .card{
    background-color: #ffffff;
    color: $txt;
    width: 350px;
    height: 350px;
    position: absolute;
    cursor: pointer;

    img{
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    a{
      position: absolute;
      z-index: 2;
      opacity: 0;
      padding: 5px;
      border: 1px solid #ffffff;
      border-radius: 10px;
      padding: 10px;
      background: #ffffff;

      &.more{
        bottom: 30px;
        right: 35%;
      }
      &.site{
        bottom: 30px;
        right: 5%;
      }
    }
    p{
      position: absolute;
      z-index: 10;
      font-family: $font-en1;
      color: #fff;
    }
    &:hover{
      img{
        opacity: 0.9;
      }
      a{
        opacity: 0.9;
      }
      p{
        opacity: 0;
      }
    }

    &.first{
      top: 8%;
      right: 17%;

      p{
        bottom: -50px;
        left: 10px;
        font-size: 61px;
      }

    }
    &.second{
      top: 25%;
      left: 8%;
      a{ color: #005955;}
      p{
        bottom: -20px;
        right: 50%;
        font-size: 61px;
      }

    }
    &.third{
      top: 55%;
      right: 8%;
      
      a{color: #E3919A;}
      p{
        bottom: -30px;
        right: -10px;
        font-size: 61px;
      }
    }
    &.fourth{
      top: 75%;
      left: 20%;
      a{ color: #000;}
      p{
        top: -10px;
        right: -5px;
        font-size: 61px;
      }
    }
  }
  @include tablet{
    .card{
      width: 300px;
      height: 300px;
    }
  }

@include mobile{
  .card{
    width: 300px;
    height: 300px;
  }
}
}



