@import './variables';
@import './mixin';

@import url('./fonts.css');

.txt_hide {
  overflow: hidden;
}

.about {
  height: 100vh;
  background-color: $bg_green;
  font-weight: 500px;
  color: #fff;
  position: relative;
  font-family: $font-en1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 

  .title-box{
    font-size: 3vw;
    line-height: 1.5;
    span{
      display: block;
      opacity: 0;
      &:nth-child(1){
        opacity: 1;
      }
    }
  }
  .img_container{
    width: 350px;
    height: 350px;
    img{
      width: 100%;
      height: 100%;
    }
  }
 
  @include tablet{
  }

  @include mobile{
    height: 1300px;
}

}

.work {
  height: 280vh;
  width: 100%;
  background-color: $bg_green;
  position: relative;
  padding: 200px 0;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);
  }


  .card{
    background-color: #ffffff;
    color: $txt;
    width: 350px;
    height: 350px;
    position: absolute;
    cursor: pointer;


    img{
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    .btn_area{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a{
        color: #fff;
        font-weight: 500;
        font-family: $font-en2;
        &+a{
          margin-top: 20px;
        }
  
        &.more{
          &::before{
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../img/Notion_logo.png) center/100% no-repeat;
            vertical-align: top;
            margin: -3px 10px 0 0;
          }
        }
        &.site{
          &::before{
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../img/github_logo.png) center/100% no-repeat;
           color: #fff;
            vertical-align: top;
            margin: -3px 10px 0 0;
          }
        }
      }
    }
   
    h3{
      position: absolute;
      z-index: 10;
      font-family: $font-en2;
      color: #fff;
      font-size: 61px;
    }
    &:hover{
      img{
        opacity: 0.9;
      }
      a{
        opacity: 0.9;
      }
      p{
        opacity: 0;
      }
    }

    &.first{
      top: 8%;
      right: 17%;

      h3{
        bottom: -50px;
        left: 10px;
      }

    }
    &.second{
      top: 25%;
      left: 8%;
      h3{
        bottom: -20px;
        right: 50%;
      }

    }
    &.third{
      top: 55%;
      right: 8%;
      
      h3{
        bottom: -30px;
        right: -10px;
      }
    }
    &.fourth{
      top: 75%;
      left: 20%;
      h3{
        top: -10px;
        right: -5px;
      }
    }
  }
  @include tablet{
    .card{
      width: 300px;
      height: 300px;
    }
  }

@include mobile{
  height: 1800px;
  svg{
    path{
      stroke-width: 400px
    }
  }
  .card{
    width: 270px;
    height: 270px;
    &.first{
      top: 8%;
      right: 17%;

      p{
        bottom: -50px;
        left: 10px;
        font-size: 50px;
      }

    }
    &.second{
      top: 35%;
      left: 8%;
      p{
        bottom: -20px;
        right: 50%;
        font-size: 50px;
      }

    }
    &.third{
      top: 55%;
      right: 8%;
      
      p{
        bottom: -30px;
        right: -10px;
        font-size: 50px;
      }
    }
    &.fourth{
      top: 80%;
      left: 5%;
      p{
        top: -10px;
        right: -5px;
        font-size: 50px;
      }
    }
  }
}
}



